<div class="container">
  <div class="page-header text-right">
    <button class="btn btn-default" onclick="showLogin()" *ngIf=!logged>Log in</button>
    <button class="btn btn-default" *ngIf=logged (click)="logout()">Log out</button>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="login" *ngIf="!logged">
        <span class="glyphicon glyphicon-remove" aria-hidden="true" onclick="hideLogin()"></span>
        <form (ngSubmit)=login()>
          <div class="form-group">
            <label for="usuario">Usuario</label>
            <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Usuario"
                   [(ngModel)]="usuario">
          </div>
          <div class="form-group">
            <label for="contrasena">Email</label>
            <input type="password" class="form-control" id="contrasena" name="contrasena" placeholder="Contraseña"
                   [(ngModel)]="contrasena">
          </div>
          <button type="submit" class="btn btn-warning">Entrar</button>
          <p *ngIf="error">Usuario o contraseña incorrectos</p>
        </form>
      </div>
      <h1>Inicio</h1>
      <p *ngIf="logged"><a href="nuevo">Nuevo Usuario</a></p>
      <p><a href="mostrar">Mostrar Usarios</a></p>
      <p *ngIf="!logged">Entra como admnistrador para poder añadir o editar usuarios</p>
    </div>
  </div>
</div>
